.initial {
    margin: 135px auto 60px;
    padding: 0 85px 0 115px;
    display: flex;
    justify-content: space-between;

    &__title {
        font-size: 36px;
        font-weight: bold;
        margin-left: 10px;
    }

    &__dropdown {
        position: relative;
    }

    &__list {
        position: absolute;
        width: 174px;
        padding: 0 20px;
        z-index: 2;
        top: 0;
        right: -27px;
        background-color: #ffffff;
        border-radius: 4px;
        box-shadow: 0 2px 12px rgba(173,152,143,0.18);

        &.visually-hidden {
            clip: rect(0 0 0 0);
            width: 1px;
            height: 1px;
            margin: -1px;
        }
    }

    &__checked {
        position: relative;
        margin: 11px 34px 0 0;
        padding-left: 12px;
        font-size: 14px;
        cursor: pointer;

        &::after {
            content: url('../../resources/icon/dropdown.svg');
            position: absolute;
            top: 0;
            right: -42px;
            z-index: 3;
            transform: rotate(180deg);
            cursor: pointer;
            transition-duration: 0.3s;
        }

        &.m-open {
            &::after {
                transform: rotate(180deg) scaleY(-1);
                filter: FlipV;
            }
        }
    }

    &__item {
        position: relative;
        font-size: 14px;
        padding: 11px 0 10px 12px;
        cursor: pointer;

        &:last-of-type {
            margin-bottom: 0;
        }


    }

    &__arrow {
        &.m-down {
            transform: rotate(180deg);
        }
    }
}
